<form class="filter_form"> 
        <fieldset class="bg_transparent">
            
            <section>
                 <div class="row">
                {% set schema = filter_form.widgetSchema %}
                {% set fields = schema.getFields %}
                {% for k, column in filter_columns %}
                     
                    {% set widget = fields[k]%}
                    {% set isInput = isInstanceof(widget, 'sfWidgetFormInput')%}
                    {% set isDate = isInstanceof(widget, 'sfWidgetFormDate') %}
                    {% set isSelect = isInstanceof(widget, 'sfWidgetFormSelect') %}
                    
                    <div class="col col-4">
                        <label class="label col col-5 pdl0">
                            {{sc('PlugMyAdminModel::translateTitle', {column: k, label: filter_form[k].renderLabelName})|raw}}
                        </label>
                        <div class="col {{isSelect?'col-10':''}} pdl0">
                                
                            <label class="{{isSelect?'select':'input'}}">
                                {% if column.icon and isInput%}
                                <i class="icon-append fa fa-{{column.icon}} fa-lg"></i>
                                {% endif %}
                                
                                 
                                {{schema.renderField(k, filters[k], {placeholder: column.placeholder})|raw}}
                                
                                {{isSelect?'<i></i>':''}}
                            </label>  
                        </div>
                    </div>
                    
                 
                {% endfor %}
                
                    <div class="col col-4 padding_top filter_action">
                         
                    <button type="submit" class="button search_btn flR" name="filter"><i class="fa fa-search fa-lg"></i> Tìm</button>
                    <a class="button button-secondary search_btn " href="{{list_uri}}?filter=filter"><i class="fa fa-rotate-left fa-lg"></i> Reset</a>

                    </div>
                </div>
            </section>
            
           
        </fieldset> 
    </form>