 
{% set fields = form.widgetSchema.getFields %}
 
{% for key, widget in fields %}
     
    {% if form[key].isHidden %}
        {{form[key]|raw}}
    {% else %} 
        {% set isInput = isInstanceof(widget, 'sfWidgetFormInput')%}
        {% set isTextarea = isInstanceof(widget, 'sfWidgetFormTextarea')%}
        {% set isFile = isInstanceof(widget, 'sfWidgetFormInputFile')%}
        {% set isDate = isInstanceof(widget, 'sfWidgetFormDate') %}
        {% set isSelect = isInstanceof(widget, 'sfWidgetFormSelect') %}
        
        <section> 
            <div class="row"> 
                {% if has_label %}
                <label class="label col  col-3 ">{{sc('PlugMyAdminModel::translateTitle', {column: key, label: form[key].renderLabelName})|raw}} </label>
                {% endif %}
                
                <div class="col col-8 {{(not has_label)?'margin0auto':''}}">
                    <label class="{{(isSelect )?'select':''}} {{isDate?'select date':''}} {{isInput?'input':''}} {{isTextarea?'textarea':''}} {{isFile?'input-file':''}}  {{key}}"> 
                        {{(icons[key]?'<i class="icon-append fa fa-'~icons[key]~'  fa-lg"></i>':'')|raw}}
                        {% if isFile %}
                        <div class="button">
                        {% endif %} 
                        
                            {{form[key]|raw}} 
                            {{isSelect?'<i></i>':''}}
                        
                        {% if isFile %}
                            Browse
                        </div> 
                        <input type="text" placeholder="Bấm vào Browse để chọn file" readonly=""> 
                        {% endif %} 
                        
                    </label> 
                    <div class="note note-error {{(form[key].getError or sf_request.hasError(key))?'':'hide'}} ">{{form[key].getError}}{{sf_request.getError(key)}}</div>
                </div>
            </div> 
        </section>
    {% endif %}
{% endfor %}

