{% set object = form.getObject %}
<form action="{{object.isNew?'':'?id='~object.getId}}" method="post" {{form.isMultipart?'enctype="multipart/form-data"':""}}>
    
    {% if isAjax%}
    <div class="sky-form">
    {% endif %}
    
        {% if title %}
        <header><h4>{{title}}</h4></header>
        {% endif %}
        <fieldset class="bg_transparent main_fieldset">
            
            <section class="section_success {% if not success %}hide{% endif %}">
            <div class="note-success center">{{success|raw}}</div>
            </section> 

            <section class="section_error {% if not error %}hide{% endif %}">
            <div class="note-error center">{{error|raw}}</div>
            </section>