{% set isAjax = sf_request.isXmlHttpRequest %}
{% if not isAjax %}


{% block paging %}
    {% if pager.getNbResults %}
        <div class="block_paging">

            <div class="flL show_indice">Hiển thị {{pager.getFirstIndice ~' - '~pager.getLastIndice~' / '~pager.getNbResults}} kết quả</div>

            <ul class="pagination flR">
                {% for pageData in paging.pages %}
                <li {{paging.curentPage==pageData.page?'class="active"':''}}><a href="{{pageData.link}}">{{pageData.page|raw}}</a></li>
                {% endfor %}
            </ul>

        </div> 
    {% endif %}
{% endblock %} 

  
    
<table class="manage_table" cellpadding="1" cellspacing="1">
    
    <thead>
        <tr>
            {% for k,v in headers %}
            <td class="{{k}}">{{sc('PlugMyAdminModel::translateTitle', {column: k, label: v})}}</td>
            {% endfor %}
        </tr>
    </thead>
    {% if paging %}
    <tfoot>
        <Tr>
            <td colspan="{{headers|length}}"  >
                {{block('paging')}}
            </td>
        </tr>
    </tfoot>
    {% endif %}
    <tbody>
        {% endif %}
        {% for i, row in datas%}
        <tr {% for k, v in row%}{{((k != 'actions')?('data-'~k~'="'~v~'"'):'')|raw}} {% endfor %}><td class="first_col">{{ row|join('</td><td>')|raw }} </td></tr>
        {% endfor %}
        {% if not isAjax %}
    </tbody>
</table>

{% for action in actions %}
<a href="{{action.uri}}" class="button flR" name="filter"><i class="fa fa-{{action.icon}} fa-lg"></i> {{action.label}}</a>
{% endfor %}
 
{% endif %}

