{#% extends "layout_logged.html"%}

{% block body %} 
    <header>
        <h4>{{page_title}}</h4>
    </header>
    {% if filter_columns %}
    {{get_partial('my_admin/autoform_filter', {filters: filters, filter_columns: filter_columns, list_uri: list_uri})|raw}}
    {% endif %}
    {{get_partial('my_admin/autotable', {
        headers: column_titles,
        datas: rows,
        pager: pager,
        paging: {pages: pages, curentPage: page}
    })|raw}} 
{% endblock %#}