
</fieldset>        
        {% if not isAjax %} 
            <fieldset class="bg_transparent fieldset_footer_form">
                <section>
                    {% for action in actions.left%}
                    <button type="button" onclick="location.href='{{action.uri}}'" class="flL btn btn-warning"><i class="fa fa-{{action.icon}} fa-lg"></i> {{action.label}} </button>
                    {% endfor %}
                    
                    {% for name, action in actions.right%}
                    <button type="submit" class="button " name="{{name}}"><i class="fa fa-{{action.icon}} fa-lg"></i> {{action.label}}</button>
                    {% endfor %}
                    
                </section> 
            </fieldset>
        {% endif %}
        
    {% if isAjax %}
    </div>
    {% endif %}
</form>