{% extends "layout_logged.html"%}

{% block body %} 
    {% block pageTitle %}
    <header>
        <h4>{{page_title}}</h4>
    </header>
    {% endblock %}
    
    {% if filter_columns %}
    {{get_partial('my_admin/autoform_filter', {filter_form: filter_form, filters: filters, filter_columns: filter_columns, list_uri: list_uri})|raw}}
    {% endif %}
    
    {{get_partial('my_admin/autotable', {
        headers: column_titles, 
        datas: rows,
        pager: pager,
        actions: actions,
        paging: {pages: pages, curentPage: page}
    })|raw}} 

{% endblock %}