html, body, aside {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	padding: 40px;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;	
}
aside {
	width: 233px;
	min-height: 500px;
}
aside.right {
	margin-left: auto;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.bg-red {
	background-image: url(../images/bg-red.jpg);
}
.bg-orange {
	background-image: url(../images/bg-orange.jpg);
}
.bg-yellow {
	background-image: url(../images/bg-yellow.jpg);
}
.bg-green {
	background-image: url(../images/bg-green.jpg);
}
.bg-cyan {
	background-image: url(../images/bg-cyan.jpg);
}
.bg-blue {
	background-image: url(../images/bg-blue.jpg);
}
.bg-purple {
	background-image: url(../images/bg-purple.jpg);
}
.bg-pink {
	background-image: url(../images/bg-pink.jpg);
}
.bg-black {
	background-image: url(../images/bg-black.jpg);
}
.body {
	max-width: 1200px;
	margin: 0 auto;
}
@media screen and (max-width: 1000px) {
	body {
		padding: 20px;
	}
}
@media screen and (max-width: 767px) {
	body {
		padding: 10px;
	}
	aside {
		width: auto;
	}
}