/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/

/**/
/* defaults */
/**/
.sky-mega-menu,
.sky-mega-menu * {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	background: none;
}
.sky-mega-menu {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/**/
/* level 1 */
/**/
.sky-mega-menu {
	position: relative;
	z-index: 999;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 20px rgba(0,0,0,.3);
	font-size: 0;
	line-height: 0;
	text-align: right;
}
.sky-mega-menu:after {
	content: '';
	display: table;
	clear: both;
}
.sky-mega-menu li {
	position: relative;
	display: inline-block;
	float: left;
	padding: 5px;
	border-style: solid;
	border-color: rgba(0,0,0,.1);
	border-right-width: 1px;
	font-size: 13px;
	line-height: 45px;
	text-align: left;
}
.sky-mega-menu li a {
	display: block;
	padding: 0 20px;
	text-decoration: none;
	color: #666;
	transition: background 0.4s, color 0.4s;
	-o-transition: background 0.4s, color 0.4s;
	-ms-transition: background 0.4s, color 0.4s;
	-moz-transition: background 0.4s, color 0.4s;
	-webkit-transition: background 0.4s, color 0.4s;
}
.sky-mega-menu li > div {
	position: absolute;
	z-index: 1000;
	top: 100%;
	left: -9999px;
	margin-top: 8px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 8px rgba(0,0,0,.3);
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
.sky-mega-menu li > div:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 8px;
	background: transparent;	
}
.sky-mega-menu li > div:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 24px;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(255,255,255,0.9);
	border-left: 5px solid transparent;
}
.sky-mega-menu li:hover > a,
.sky-mega-menu li.current > a {
	background: #2da5da;
	color: #fff;
}
.sky-mega-menu li:hover > div {
	left: 0;
	opacity: 1;
	-webkit-transform: translate(0, 0);
}
.sky-mega-menu .right {
	float: none;
	border-right-width: 0;
	border-left-width: 1px;
}
.sky-mega-menu .right > div {
	-o-transform-origin-x: 100%;
	-ms-transform-origin-x: 100%;
	-moz-transform-origin-x: 100%;
	-webkit-transform-origin-x: 100%;
}
.sky-mega-menu .right:hover > div {
	right: 0;
	left: auto;
}
.sky-mega-menu .right:hover > div:before {
	right: 24px;
	left: auto;
}
.sky-mega-menu .switcher {
	display: none;
}


/**/
/* level 2+ */
/**/
.sky-mega-menu li li {
	display: block;
	float: none;
	border-width: 0;
	border-top-width: 1px;
	line-height: 21px;
}
.sky-mega-menu li li:first-child {
	border-top: 0;
}
.sky-mega-menu li li a {
	padding-top: 12px;
	padding-bottom: 12px;
}
.sky-mega-menu li li > div {
	top: 0;
	margin: 0 0 0 8px;
}
.sky-mega-menu li li > div:after {
	top: 0;
	right: 100%;
	bottom: auto;
	left: auto;
	width: 8px;
	height: 100%;
}
.sky-mega-menu li li > div:before {
	top: 22px;
	right: 100%;
	bottom: auto;
	left: auto;
	border-top: 5px solid transparent;
	border-right: 5px solid rgba(255,255,255,0.9);
	border-bottom: 5px solid transparent;
}
.sky-mega-menu li li:hover > div {
	left: 100%;
}
.sky-mega-menu .right li > div {
	margin: 0 8px 0 0;
	-o-transform-origin-x: 100%;
	-ms-transform-origin-x: 100%;
	-moz-transform-origin-x: 100%;
	-webkit-transform-origin-x: 100%;
}
.sky-mega-menu .right li > div:after {
	right: auto;
	left: 100%;
}
.sky-mega-menu .right li > div:before {
	right: auto;
	left: 100%;
	border-right: none;
	border-left: 5px solid rgba(255,255,255,0.9);
}
.sky-mega-menu .right li:hover > div {
	right: 100%;
	left: auto;
}


/**/
/* positions */
/**/
.sky-mega-menu-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.sky-mega-menu-pos-bottom li > div {
	top: auto;
	bottom: 100%;
	margin: 0 0 8px;
	-o-transform-origin-y: 100%;
	-ms-transform-origin-y: 100%;
	-moz-transform-origin-y: 100%;
	-webkit-transform-origin-y: 100%;
}
.sky-mega-menu-pos-bottom li > div:after {
	top: 100%;
	bottom: auto;
}
.sky-mega-menu-pos-bottom li > div:before {
	top: 100%;
	bottom: auto;
	border-top: 5px solid rgba(255,255,255,0.9);
	border-right: 5px solid transparent;
	border-bottom: none;
	border-left: 5px solid transparent;
}
.sky-mega-menu-pos-bottom li li > div {
	top: auto;	
	bottom: 0;
}
.sky-mega-menu-pos-bottom li li > div:before {
	top: auto;
	bottom: 22px;
}
.sky-mega-menu-pos-bottom.sky-mega-menu-fixed {
	top: auto;
	bottom: 0;
}

.sky-mega-menu-pos-left li,
.sky-mega-menu-pos-right li {
	display: block;
	float: none;
	border-width: 0;
	border-top-width: 1px;
}
.sky-mega-menu-pos-left li:first-child,
.sky-mega-menu-pos-right li:first-child {
	border-top: 0;
}
.sky-mega-menu-pos-left li > div,
.sky-mega-menu-pos-right li > div {
	top: 0;	
}
.sky-mega-menu-pos-left li > div {
	margin: 0 0 0 8px;
}
.sky-mega-menu-pos-right li > div {
	margin: 0 8px 0 0;
	-o-transform-origin-x: 100%;
	-ms-transform-origin-x: 100%;
	-moz-transform-origin-x: 100%;
	-webkit-transform-origin-x: 100%;
}
.sky-mega-menu-pos-left li > div:after,
.sky-mega-menu-pos-right li > div:after {
	top: 0;
	bottom: auto;
	width: 8px;
	height: 100%;
}
.sky-mega-menu-pos-left li > div:after {
	right: 100%;
	left: auto;
}
.sky-mega-menu-pos-right li > div:after {
	right: auto;
	left: 100%;
}
.sky-mega-menu-pos-left li > div:before,
.sky-mega-menu-pos-right li > div:before {
	top: 22px;
	bottom: auto;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.sky-mega-menu-pos-left li > div:before {
	right: 100%;
	left: auto;
	border-right: 5px solid rgba(255,255,255,0.9);
}
.sky-mega-menu-pos-right li > div:before {
	right: auto;
	left: 100%;
	border-left: 5px solid rgba(255,255,255,0.9);
}
.sky-mega-menu-pos-left li:hover > div {
	left: 100%;
}
.sky-mega-menu-pos-right li:hover > div {
	right: 100%;
	left: auto;
}
.sky-mega-menu-pos-left .bottom > div,
.sky-mega-menu-pos-right .bottom > div {
	top: auto;
	bottom: 0;
	-o-transform-origin-y: 100%;
	-ms-transform-origin-y: 100%;
	-moz-transform-origin-y: 100%;
	-webkit-transform-origin-y: 100%;
}
.sky-mega-menu-pos-left .bottom > div:before,
.sky-mega-menu-pos-right .bottom > div:before {
	top: auto;
	bottom: 22px;
}
.sky-mega-menu-pos-right li li > div {
	margin: 0 8px 0 0;
	-o-transform-origin-x: 100%;
	-ms-transform-origin-x: 100%;
	-moz-transform-origin-x: 100%;
	-webkit-transform-origin-x: 100%;
}
.sky-mega-menu-pos-right li li > div:after {
	right: auto;
	left: 100%;
}
.sky-mega-menu-pos-right li li > div:before {
	right: auto;
	left: 100%;
	border-right: none;
	border-left: 5px solid rgba(255,255,255,0.9);
}
.sky-mega-menu-pos-right li li:hover > div {
	right: 100%;
	left: auto;
}
.sky-mega-menu-pos-left.sky-mega-menu-fixed {
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	width: auto;
}
.sky-mega-menu-pos-right.sky-mega-menu-fixed {
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	width: auto;
}


/**/
/* animations */
/**/
.sky-mega-menu-anim-slide li > div {
	-o-transform: translate(0, 60px);
	-ms-transform: translate(0, 60px);
	-moz-transform: translate(0, 60px);
	-webkit-transform: translate(0, 60px);	
}
.sky-mega-menu-pos-bottom.sky-mega-menu-anim-slide li > div {
	-o-transform: translate(0, -60px);
	-ms-transform: translate(0, -60px);
	-moz-transform: translate(0, -60px);
	-webkit-transform: translate(0, -60px);
}
.sky-mega-menu-anim-slide li:hover > div {
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);	
}
.sky-mega-menu-anim-scale li > div {
	-o-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
}
.sky-mega-menu-anim-scale li:hover > div {
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}
.sky-mega-menu-anim-flip {
	perspective: 2000px;
	-o-perspective: 2000px;
	-moz-perspective: 2000px;
	-webkit-perspective: 2000px;
}
.sky-mega-menu-anim-flip li > div {
	transform-style: preserve-3d;
	-o-transform: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
}
.sky-mega-menu-anim-flip li:hover > div {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
}


/**/
/* grid */
/**/
.sky-mega-menu .grid-column {
	float: left;
	border-color: #d9d9d9;
	border-left-width: 1px;
	border-left-style: solid;
}
.sky-mega-menu .grid-column:first-child {
	margin-left: 0;
	border-left: 0;
}
.sky-mega-menu .grid-column2,
.sky-mega-menu .grid-container2 {
	width: 155px;
}
.sky-mega-menu .grid-column3,
.sky-mega-menu .grid-container3 {
	width: 233px;
}
.sky-mega-menu .grid-column4,
.sky-mega-menu .grid-container4 {
	width: 311px;
}
.sky-mega-menu .grid-column5,
.sky-mega-menu .grid-container5 {
	width: 389px;
}
.sky-mega-menu .grid-column6,
.sky-mega-menu .grid-container6 {
	width: 467px;
}
.sky-mega-menu .grid-column7,
.sky-mega-menu .grid-container7 {
	width: 545px;
}
.sky-mega-menu .grid-column8,
.sky-mega-menu .grid-container8 {
	width: 623px;
}
.sky-mega-menu .grid-column9,
.sky-mega-menu .grid-container9 {
	width: 701px;
}
.sky-mega-menu .grid-column10,
.sky-mega-menu .grid-container10 {
	width: 779px;
}
.sky-mega-menu .grid-column11,
.sky-mega-menu .grid-container11 {
	width: 857px;
}
.sky-mega-menu .grid-column12,
.sky-mega-menu .grid-container12 {
	width: 935px;
}


/**/
/* icons */
/**/
@font-face
{
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.icon-glass:before {
  content: "\f000";
}
.icon-music:before {
  content: "\f001";
}
.icon-search:before {
  content: "\f002";
}
.icon-envelope-alt:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-film:before {
  content: "\f008";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-zoom-in:before {
  content: "\f00e";
}
.icon-zoom-out:before {
  content: "\f010";
}
.icon-power-off:before,
.icon-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}
.icon-trash:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file-alt:before {
  content: "\f016";
}
.icon-time:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download-alt:before {
  content: "\f019";
}
.icon-download:before {
  content: "\f01a";
}
.icon-upload:before {
  content: "\f01b";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-play-circle:before {
  content: "\f01d";
}
.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-lock:before {
  content: "\f023";
}
.icon-flag:before {
  content: "\f024";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-book:before {
  content: "\f02d";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-print:before {
  content: "\f02f";
}
.icon-camera:before {
  content: "\f030";
}
.icon-font:before {
  content: "\f031";
}
.icon-bold:before {
  content: "\f032";
}
.icon-italic:before {
  content: "\f033";
}
.icon-text-height:before {
  content: "\f034";
}
.icon-text-width:before {
  content: "\f035";
}
.icon-align-left:before {
  content: "\f036";
}
.icon-align-center:before {
  content: "\f037";
}
.icon-align-right:before {
  content: "\f038";
}
.icon-align-justify:before {
  content: "\f039";
}
.icon-list:before {
  content: "\f03a";
}
.icon-indent-left:before {
  content: "\f03b";
}
.icon-indent-right:before {
  content: "\f03c";
}
.icon-facetime-video:before {
  content: "\f03d";
}
.icon-picture:before {
  content: "\f03e";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-adjust:before {
  content: "\f042";
}
.icon-tint:before {
  content: "\f043";
}
.icon-edit:before {
  content: "\f044";
}
.icon-share:before {
  content: "\f045";
}
.icon-check:before {
  content: "\f046";
}
.icon-move:before {
  content: "\f047";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-minus-sign:before {
  content: "\f056";
}
.icon-remove-sign:before {
  content: "\f057";
}
.icon-ok-sign:before {
  content: "\f058";
}
.icon-question-sign:before {
  content: "\f059";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-screenshot:before {
  content: "\f05b";
}
.icon-remove-circle:before {
  content: "\f05c";
}
.icon-ok-circle:before {
  content: "\f05d";
}
.icon-ban-circle:before {
  content: "\f05e";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-mail-forward:before,
.icon-share-alt:before {
  content: "\f064";
}
.icon-resize-full:before {
  content: "\f065";
}
.icon-resize-small:before {
  content: "\f066";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-exclamation-sign:before {
  content: "\f06a";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye-open:before {
  content: "\f06e";
}
.icon-eye-close:before {
  content: "\f070";
}
.icon-warning-sign:before {
  content: "\f071";
}
.icon-plane:before {
  content: "\f072";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-random:before {
  content: "\f074";
}
.icon-comment:before {
  content: "\f075";
}
.icon-magnet:before {
  content: "\f076";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-folder-close:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-resize-vertical:before {
  content: "\f07d";
}
.icon-resize-horizontal:before {
  content: "\f07e";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-twitter-sign:before {
  content: "\f081";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-key:before {
  content: "\f084";
}
.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-up-alt:before {
  content: "\f087";
}
.icon-thumbs-down-alt:before {
  content: "\f088";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-heart-empty:before {
  content: "\f08a";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-linkedin-sign:before {
  content: "\f08c";
}
.icon-pushpin:before {
  content: "\f08d";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-signin:before {
  content: "\f090";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-github-sign:before {
  content: "\f092";
}
.icon-upload-alt:before {
  content: "\f093";
}
.icon-lemon:before {
  content: "\f094";
}
.icon-phone:before {
  content: "\f095";
}
.icon-unchecked:before,
.icon-check-empty:before {
  content: "\f096";
}
.icon-bookmark-empty:before {
  content: "\f097";
}
.icon-phone-sign:before {
  content: "\f098";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-hdd:before {
  content: "\f0a0";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-hand-right:before {
  content: "\f0a4";
}
.icon-hand-left:before {
  content: "\f0a5";
}
.icon-hand-up:before {
  content: "\f0a6";
}
.icon-hand-down:before {
  content: "\f0a7";
}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-beaker:before {
  content: "\f0c3";
}
.icon-cut:before {
  content: "\f0c4";
}
.icon-copy:before {
  content: "\f0c5";
}
.icon-paperclip:before,
.icon-paper-clip:before {
  content: "\f0c6";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-sign-blank:before {
  content: "\f0c8";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-strikethrough:before {
  content: "\f0cc";
}
.icon-underline:before {
  content: "\f0cd";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-magic:before {
  content: "\f0d0";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-pinterest-sign:before {
  content: "\f0d3";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-columns:before {
  content: "\f0db";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}
.icon-legal:before {
  content: "\f0e3";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-comment-alt:before {
  content: "\f0e5";
}
.icon-comments-alt:before {
  content: "\f0e6";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-lightbulb:before {
  content: "\f0eb";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell-alt:before {
  content: "\f0f3";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-food:before {
  content: "\f0f5";
}
.icon-file-text-alt:before {
  content: "\f0f6";
}
.icon-building:before {
  content: "\f0f7";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-ambulance:before {
  content: "\f0f9";
}
.icon-medkit:before {
  content: "\f0fa";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-beer:before {
  content: "\f0fc";
}
.icon-h-sign:before {
  content: "\f0fd";
}
.icon-plus-sign-alt:before {
  content: "\f0fe";
}
.icon-double-angle-left:before {
  content: "\f100";
}
.icon-double-angle-right:before {
  content: "\f101";
}
.icon-double-angle-up:before {
  content: "\f102";
}
.icon-double-angle-down:before {
  content: "\f103";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-circle-blank:before {
  content: "\f10c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\f111";
}
.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-folder-close-alt:before {
  content: "\f114";
}
.icon-folder-open-alt:before {
  content: "\f115";
}
.icon-expand-alt:before {
  content: "\f116";
}
.icon-collapse-alt:before {
  content: "\f117";
}
.icon-smile:before {
  content: "\f118";
}
.icon-frown:before {
  content: "\f119";
}
.icon-meh:before {
  content: "\f11a";
}
.icon-gamepad:before {
  content: "\f11b";
}
.icon-keyboard:before {
  content: "\f11c";
}
.icon-flag-alt:before {
  content: "\f11d";
}
.icon-flag-checkered:before {
  content: "\f11e";
}
.icon-terminal:before {
  content: "\f120";
}
.icon-code:before {
  content: "\f121";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-crop:before {
  content: "\f125";
}
.icon-code-fork:before {
  content: "\f126";
}
.icon-unlink:before {
  content: "\f127";
}
.icon-question:before {
  content: "\f128";
}
.icon-info:before {
  content: "\f129";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-superscript:before {
  content: "\f12b";
}
.icon-subscript:before {
  content: "\f12c";
}
.icon-eraser:before {
  content: "\f12d";
}
.icon-puzzle-piece:before {
  content: "\f12e";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-off:before {
  content: "\f131";
}
.icon-shield:before {
  content: "\f132";
}
.icon-calendar-empty:before {
  content: "\f133";
}
.icon-fire-extinguisher:before {
  content: "\f134";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-maxcdn:before {
  content: "\f136";
}
.icon-chevron-sign-left:before {
  content: "\f137";
}
.icon-chevron-sign-right:before {
  content: "\f138";
}
.icon-chevron-sign-up:before {
  content: "\f139";
}
.icon-chevron-sign-down:before {
  content: "\f13a";
}
.icon-html5:before {
  content: "\f13b";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-horizontal:before {
  content: "\f141";
}
.icon-ellipsis-vertical:before {
  content: "\f142";
}
.icon-rss-sign:before {
  content: "\f143";
}
.icon-play-sign:before {
  content: "\f144";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-minus-sign-alt:before {
  content: "\f146";
}
.icon-check-minus:before {
  content: "\f147";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-check-sign:before {
  content: "\f14a";
}
.icon-edit-sign:before {
  content: "\f14b";
}
.icon-external-link-sign:before {
  content: "\f14c";
}
.icon-share-sign:before {
  content: "\f14d";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-collapse:before {
  content: "\f150";
}
.icon-collapse-top:before {
  content: "\f151";
}
.icon-expand:before {
  content: "\f152";
}
.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}
.icon-gbp:before {
  content: "\f154";
}
.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}
.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}
.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}
.icon-renminbi:before,
.icon-cny:before {
  content: "\f158";
}
.icon-won:before,
.icon-krw:before {
  content: "\f159";
}
.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-sort-by-alphabet:before {
  content: "\f15d";
}
.icon-sort-by-alphabet-alt:before {
  content: "\f15e";
}
.icon-sort-by-attributes:before {
  content: "\f160";
}
.icon-sort-by-attributes-alt:before {
  content: "\f161";
}
.icon-sort-by-order:before {
  content: "\f162";
}
.icon-sort-by-order-alt:before {
  content: "\f163";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-youtube-sign:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-xing:before {
  content: "\f168";
}
.icon-xing-sign:before {
  content: "\f169";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox:before {
  content: "\f16b";
}
.icon-stackexchange:before {
  content: "\f16c";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-flickr:before {
  content: "\f16e";
}
.icon-adn:before {
  content: "\f170";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-bitbucket-sign:before {
  content: "\f172";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-tumblr-sign:before {
  content: "\f174";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-trello:before {
  content: "\f181";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-sun:before {
  content: "\f185";
}
.icon-moon:before {
  content: "\f186";
}
.icon-archive:before {
  content: "\f187";
}
.icon-bug:before {
  content: "\f188";
}
.icon-vk:before {
  content: "\f189";
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-renren:before {
  content: "\f18b";
}
.sky-mega-menu [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.sky-mega-menu li a > [class^="icon-"] {
	display: block;
	float: left;
	width: 16px;
	margin: 0 10px 0 -4px;
  font-size: 16px;
}
.sky-mega-menu li a > .icon-single {
	float: none;
	margin: 0;
}


/**/
/* forms */
/**/
.sky-mega-menu form fieldset {
	display: block;	
	padding: 25px 30px;
}
.sky-mega-menu form fieldset + fieldset {
	border-top: 1px solid rgba(0,0,0,.1);
}
.sky-mega-menu form section {
	margin-bottom: 20px;
}
.sky-mega-menu form .input,
.sky-mega-menu form .textarea,
.sky-mega-menu form .radio,
.sky-mega-menu form .checkbox,
.sky-mega-menu form .button {
	position: relative;
	display: block;
}
.sky-mega-menu form .input input,
.sky-mega-menu form .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border: 2px solid #e5e5e5;
	border-radius: 0;
	background: #fff;
	font: 13px/19px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.sky-mega-menu form .textarea textarea {
	height: auto;
	resize: none;
}
.sky-mega-menu form .button {
	float: right;
	height: 39px;
	overflow: hidden;
	margin-left: 20px;
	padding: 0 20px;
	outline: none;
	border: 0;
	background-color: #2da5da;
	font: 300 13px/39px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.sky-mega-menu form .icon-append {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 29px;
	height: 29px;
	padding-left: 3px;
	border-left: 1px solid #e5e5e5;
	font-size: 15px;
	line-height: 29px;
	color: #ccc;
}
.sky-mega-menu form .input .icon-append + input,
.sky-mega-menu form .textarea .icon-append + textarea {
	padding-right: 46px;
}
.sky-mega-menu form .row {
	margin: 0 -15px;
}
.sky-mega-menu form .row:after {
	content: '';
	display: table;
	clear: both;
}
.sky-mega-menu form .col {
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.sky-mega-menu form .col-6 {
	width: 50%;
}
.sky-mega-menu form .input:hover input,
.sky-mega-menu form .textarea:hover textarea,
.sky-mega-menu form .checkbox:hover i {
	border-color: #8dc9e5;
}
.sky-mega-menu form .button:hover {
	opacity: 1;
}
.sky-mega-menu form .input input:focus,
.sky-mega-menu form .textarea textarea:focus,
.sky-mega-menu form .checkbox input:focus + i {
	border-color: #2da5da;
}
.sky-mega-menu .search {
	border-left: 0;
}
.sky-mega-menu .search .input {
	margin: 3px 3px 3px 3px;
}
.sky-mega-menu .search .input input {
	width: 240px;
	padding-right: 65px;
}
.sky-mega-menu .search .button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}


/**/
/* pad */
/**/
@media screen and (max-width: 1000px) {
	.sky-mega-menu li a {
		padding: 0 15px;
	}
	.sky-mega-menu .grid-column2,
	.sky-mega-menu .grid-container2 {
		width: 117px;
	}
	.sky-mega-menu .grid-column3,
	.sky-mega-menu .grid-container3 {
		width: 176px;
	}
	.sky-mega-menu .grid-column4,
	.sky-mega-menu .grid-container4 {
		width: 235px;
	}
	.sky-mega-menu .grid-column5,
	.sky-mega-menu .grid-container5 {
		width: 294px;
	}
	.sky-mega-menu .grid-column6,
	.sky-mega-menu .grid-container6 {
		width: 353px;
	}
	.sky-mega-menu .grid-column7,
	.sky-mega-menu .grid-container7 {
		width: 412px;
	}
	.sky-mega-menu .grid-column8,
	.sky-mega-menu .grid-container8 {
		width: 471px;
	}
	.sky-mega-menu .grid-column9,
	.sky-mega-menu .grid-container9 {
		width: 530px;
	}
	.sky-mega-menu .grid-column10,
	.sky-mega-menu .grid-container10 {
		width: 589px;
	}
	.sky-mega-menu .grid-column11,
	.sky-mega-menu .grid-container11 {
		width: 648px;
	}
	.sky-mega-menu .grid-column12,
	.sky-mega-menu .grid-container12 {
		width: 707px;
	}
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	body {
    -webkit-text-size-adjust: none;
  }
	.sky-mega-menu .grid-column {
		float: none;
		width: auto;
		margin: 0;
		border: 0;
		border-top: 1px solid #d9d9d9;
	}
	.sky-mega-menu .grid-column:first-child {
		border-top: 0;
	}
  .sky-mega-menu form fieldset {
  	display: block;
  	padding: 15px 20px;
  }
	.sky-mega-menu form section {
		margin-bottom: 10px;
	}
  .sky-mega-menu form .row {
  	margin: 0 -10px;
  }
  .sky-mega-menu form .col {
		padding-right: 10px;
		padding-left: 10px;
	}
	
	
	.sky-mega-menu-response-to-stack > li {
		display: block;
		float: none;
		border: 0;
		border-top: 1px solid #d9d9d9;
	}
	.sky-mega-menu-response-to-stack > li:first-child {
		border-top: 0;
	}
	.sky-mega-menu-response-to-switcher > li {
		display: none;
		float: none;
		border: 0;
	}
	.sky-mega-menu-response-to-switcher > .switcher {
		display: block;
	}
	.sky-mega-menu-response-to-switcher:hover > li {
		display: block;
		border-top: 1px solid #d9d9d9;		
	}
	.sky-mega-menu-response-to-switcher:hover > .switcher {
		 
	}
	.sky-mega-menu-response-to-stack li > div,
	.sky-mega-menu-response-to-stack li > [class^="grid-container"],
	.sky-mega-menu-response-to-switcher li > div,
	.sky-mega-menu-response-to-switcher li > [class^="grid-container"] {
		top: 100%;
		bottom: auto;
		width: auto;
		margin: 8px 0 0 0;		
		-o-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}
	.sky-mega-menu-response-to-stack li > div:after,
	.sky-mega-menu-response-to-switcher li > div:after {
		top: auto;
		right: auto;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 8px;
	}
	.sky-mega-menu-response-to-stack li > div:before,
	.sky-mega-menu-response-to-switcher li > div:before {
		display: none;
	}
	.sky-mega-menu-response-to-stack li a > [class^="icon-"],
	.sky-mega-menu-response-to-switcher li a > [class^="icon-"] {
		margin: 0 15px 0 0;
	}
	.sky-mega-menu-response-to-stack li:hover > div,
	.sky-mega-menu-response-to-stack li:hover > [class^="grid-container"],
	.sky-mega-menu-response-to-switcher li:hover > div,
	.sky-mega-menu-response-to-switcher li:hover > [class^="grid-container"] {
		right: 0;
		left: 51px;
	}
	.sky-mega-menu-response-to-stack li li > div,
	.sky-mega-menu-response-to-switcher li li > div {
		top: 100%;
		width: auto;
		margin: 8px 0 0 0;
	}
	.sky-mega-menu-response-to-stack li li > div:after,
	.sky-mega-menu-response-to-switcher li li > div:after {
		top: auto;
		right: auto;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 8px;
	}
	.sky-mega-menu-response-to-stack li li:hover > div,
	.sky-mega-menu-response-to-switcher li li:hover > div {
		right: 0;
		left: 51px;
	}
	.sky-mega-menu-response-to-stack .search .input input,
	.sky-mega-menu-response-to-switcher .search .input input {
		width: 100%;
	}	
	
  .sky-mega-menu-response-to-icons li {
  	position: static;
  	font-size: 0;
	}
	.sky-mega-menu-response-to-icons li a {
		padding: 0 10px;
	}
	.sky-mega-menu-response-to-icons li > div,
	.sky-mega-menu-response-to-icons li > [class^="grid-container"] {
		width: 100%;
	}
	.sky-mega-menu-response-to-icons li > div:before {
		display: none;
	}
	.sky-mega-menu-response-to-icons li a > [class^="icon-"] {
		margin: 0;
	}
	.sky-mega-menu-response-to-icons li li {
		position: relative;
		font-size: 13px;
	}
	.sky-mega-menu-response-to-icons li li > div {
		top: 100%;
		margin: 8px 0 0 0;
	}
	.sky-mega-menu-response-to-icons li li > div:after {
		top: auto;
		right: auto;
		bottom: 100%;
		left: 0;
		width: 100%;
		height: 8px;
	}
	.sky-mega-menu-response-to-icons li li:hover > div {
		right: 0;
		left: 41px;
		width: auto;
	}
	.sky-mega-menu-response-to-icons li li a > [class^="icon-"] {
		margin-right: 10px;
	}
	.sky-mega-menu-response-to-icons.sky-mega-menu-anim-flip li li > div {
		top: 100%;
		margin: 8px 0 0 0;
		transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
	}
	.sky-mega-menu-pos-bottom.sky-mega-menu-response-to-icons li li > div {
		top: auto;
		bottom: 100%;
		margin: 0 0 8px 0;
	}	
	.sky-mega-menu-pos-bottom.sky-mega-menu-response-to-icons li li > div:after {
		top: 100%;
		bottom: auto;
	}
}