<div class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
                
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" >
                <img src="<?=config('SITE_LOGO')?>" alt="<?=config('SITE_NAME')?>"/>
                <div class="ripple-container"></div>
              </a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">

                <li class="{{k?'':'active text-info'}}" ng-repeat="(k, item) in server_data.menu" >
                  <a 

                    href="{{item.link}}" 
                    ng-class="item.subs ? 'dropdown-toggle': ''" 
                    ng-attr-data-toggle="{{ item.subs ? 'dropdown' : '' }}"
                    ng-attr-aria-expanded="{{'false'}}"
                  >
                  {{item.name}}
                  <b class="caret" ng-if="item.subs"></b><div class="ripple-container"></div></a>
                  <ul class="dropdown-menu" ng-if="item.subs">

                    <li ng-repeat="item1 in item.subs"><a href="{{item1.link}}">{{item1.name}}</a></li> 
                  </ul>
                  </a>
                </li> 
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li>                   
                    <form class="navbar-form navbar-right">                          
                          <i class="material-icons search_icon">search</i> 
                          <input type="text" class="form-control col-sm-8 hide" name="query" id="query" placeholder="Search"/>
                    </form>
                    
                </li>
                 
              </ul>
            </div>
          </div>
        </div>