<style>
#page_loader { position: absolute; top: 0; bottom: 0%; left: 0; right: 0%; background-color: white;z-index: 1999;}
.loading-gif { position: fixed; top: 50%; left: 50%; margin: -50px 0px 0px -50px;}
</style>
<div id="page_loader"></div>
 
