<html lang="en" ng-app="mrHero">
    <head>
        
        
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png"/> 

        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>
        <link rel="icon" type="image/png" sizes="256x256" href="/favicon/favicon.png"/>
            
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/> 

        {% block seo_title_meta %}
        <?=get_partial('abstract/seo_title_meta')|raw?>
        {% endblock %}
        
        <meta property="fb:app_id" content="<?=config('SITE_FB_APP_ID')?>"/>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content=""/> 
        <meta name="robots" content="index,follow" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Bootstrap Material Design -->
        <link href="/css/bootstrap-material-design.css" rel="stylesheet"/>

        <link href="/css/ripples.min.css" rel="stylesheet"/>

        <!-- Dropdown.js -->
        <link href="/css/jquery.dropdown.css" rel="stylesheet"/>

        <!-- jQuery -->
        <script src="/js/jquery-1.10.2.min.js"></script>


        <?=minJs(get_partial('abstract/js'))|raw?>
         
    </head>
    <body {%block ngController%}{% endblock%}>
        {% block pageloader %}
        {% include '_pageloader.html' %}
        {% endblock%}
        
        {% block header %}{% include '_header_menu.html' %}{% endblock%}
        
        
        <div class="col-md-12 col-sm-12 main_container">
          <div class="list-group col-md-9 col-sm-9 ">
		        {# 
      			<?=get_partial('index/ad_leaderboard')|raw?>
      			#}
      			{% block body %}{% endblock%}
      			{# 
      			<?=get_partial('index/ad_bottom')|raw?>
            #}
      			
          </div>
          {#<?=get_partial('index/ad_widget')|raw?>#}
          
          <?=get_partial('index/main_widget')|raw?>
        </div>

        {% include '_footer_copyright.html' %}

        
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/material.js"></script>
        <script src="/js/ripples.min.js"></script>
        <script src="/js/jquery.dropdown.js"></script>

        <script>
          
          $('.search_icon').click(function() {
              $(this).addClass('hide');
              $('#query').removeClass('hide').focus();
          });

          $('#query').blur(function() {
              $(this).addClass('hide');
              $('.search_icon').removeClass('hide');
          });
                    
          //left height
          $('.left_container .left').height($('.main_container').height()-10);
        
          $("#dropdown-menu select").dropdown();
        </script>

        <!-- Google Analystic -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74860738-1', 'auto');
          ga('send', 'pageview');

        </script>
        
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1538429269785023');
        fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1538429269785023&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
        </body>
        </html>