  <navigation menu="menu"></navigation>
	
    <article ng-repeat="item in server_data.posts">
      <div class="list-group-item">
          <div class="row-action-primary">
              <img lazy-src="{{item.img}}"/>
            
          </div>
          <div class="row-content">
            <div class="least-content">{{item.datetime}}</div>
            <h4 class="list-group-item-heading"><a href="{{item.link}}" title="{{item.name}}">{{item.name}}</a></h4>
            <p class="list-group-item-text" ng-bind-html="item.description | unsafe"></p>
          </div>
      </div>
      <div class="list-group-separator"></div> 
    </article>
  <div class="list-group-item">
    <button type="button" class="btn view_more btn-warning col-md-12" ng-if="loadAll == false" ng-click="loadMore()">View more</button>
  </div>