
<div class="col-md-3 col-sm-3 widget">
    
    <div class="bs-component"> 
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">HOT</h3>
        </div>
        <div class="panel-body">
             
              <article ng-repeat="item in server_data.hot_posts">
                <div class="list-group-item">
                   <div class="row-action-primary">
                        <img lazy-src="{{item.img}}"/> 
                    </div>
                    <div class="row-content">
                      
                      <h5 class="list-group-item-heading"><a href="{{item.link}}" title="{{item.name}}">{{item.name}}</a></h5>
                      <div class="least-content">{{item.datetime+' | '+item.view_count+' views'}}</div>
                    </div>
                </div>
                <div class="list-group-separator"></div> 
              </article>
            
        </div>
      </div>
    </div>
    
  </div>
  
  
  