{% extends "layout.html"%}

{% block body %}

<article class="post_detail">
	<ol class="breadcrumb">
	    <li>
	        <a href="/" title="Homepage">
	            <i class="mdi mdi-home-modern"></i>
	            <span>Home</span>
	        </a>
	    </li>
	    <!-- <li>
	        <a href="<?=menu.getDetailUrl?>" title="<?=menu.getName?>">
	            <i class="mdi mdi-home-modern"></i>
	            <span><?=menu.getName?></span>
	        </a>
	    </li> -->
	</ol>
	<?=item.getDetail|raw?>
</article>
{% endblock %} 


{%block ngController%}ng-controller="StaticIndex"{% endblock%}