{% extends "layout.html"%}
 
{% block body %}

<article class="post_detail">
	<ol class="breadcrumb">
	    <li>
	        <a href="/" title="Homepage">
	            <i class="mdi mdi-home-modern"></i>
	            <span>Home</span>
	        </a>
	    </li>
	    <li>
	        <a href="<?=menu.getDetailUrl?>" title="<?=menu.getName?>">
	            <i class="mdi mdi-home-modern"></i>
	            <span><?=menu.getName?></span>
	        </a>
	    </li>
	</ol>


	<h1><?=item.getName|raw?></h1>
	<?=item.getDetail|raw?>

 

	<div class="panel panel-info">  
		<div class="panel-heading bold"> 
			<h3 class="panel-title"><Strong>Relation posts</Strong></h3>
		</div>  
		<div class="panel-body"> 
		{% for i, item in items %}
		<article >
		      <div class="list-group-item">
		          <div class="row-action-primary">
		              <img lazy-src="<?=item.img?>"/>	            
		          </div>
		          <div class="row-content">
		            <div class="least-content"><?=item.getDateTime?></div>
		            <h4 class="list-group-item-heading">
		            	<a href="<?=item.getDetailUrl?>" title="<?=item.getName?>"><?=item.getName?></a>
		        	</h4>
		            <p class="list-group-item-text"><?=item.getDescription|raw?></p>
		          </div>
		      </div>
		      <div class="list-group-separator"></div> 
		    </article>
		{% endfor %}
		</div>
	</div>
</article>
{% endblock %} 


{%block ngController%}ng-controller="StaticIndex"{% endblock%}