@media screen and (max-width: 767px) {
    .left_container {
        display: none
    }
    .widget{ padding-left: 0px !important;}
}
@media screen and (max-width: 590px) {
    .post_detail img {width: 100% !important; height: auto !important;}
}

body {
    background-color: #DADADA;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-left: 0px; padding-right: 10px;
}

.vertop {vertical-align: top !important;}
.hide {display: none}
.list-group {background: #fff;     padding: 15px 0;}
.list-group.left {background: url("http://googlenews.gkvasnikov.com/img/bg-black.png"); color: #fff; text-transform: uppercase;}
.search_icon{font-size: 30px; cursor: pointer;}

.widget{ padding-left: 10px; padding-right: 0}

.navbar, .navbar.navbar-default{
	background: #fff; 
	color: #585858; 
	text-transform: uppercase; 
	font-weight: bold; 
	margin: 0 0 15px 0;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
}

.list-group .list-group-item .row-content .least-content{ position: inherit; font-size: 12px;}

.list-group .list-group-item .row-action-primary img{width: 160px; height: 100px;}

.list-group .list-group-item .list-group-item-heading{ font-weight: bold; color: #4e5456; font-size: 16px;}

.list-group .list-group-separator:before{width: 100%}
.navbar-collapse{overflow: hidden}
.list-group.left .row-content {vertical-align: inherit}

.navbar .navbar-nav > li > a{ font-size: 12px;} 

.logo{ width: 126px; margin: 0 auto; display: block; margin-bottom: 100px;}


.main_container {margin-top: 70px; padding-left: 10px;}
footer{ clear: both; margin-bottom: 0 !important}
.copyright{clear: both; background: #ccc; font-weight: bold; padding: 15px 30px; }
 
.post_detail { padding: 10px 20px; }

.widget .row-content {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    min-height: 40px;
    vertical-align: top;
    display: inline-block;
}

.widget .row-action-primary {
    display: inline-block;
    padding-right: 5px;
}

.widget .row-action-primary img {
    width: 40px; 
}

.list-group .list-group-item .row-picture, .list-group .list-group-item .row-action-primary {
    float: left;
    padding: 0 16px 8px 0;
}

.list-group .list-group-item .row-content{
    /*width: -webkit-calc(100% - 180px);
    width: calc(100% - 180px);
    min-height: 40px;
    vertical-align: top;
    */
    width: auto;
    display: inherit;
    min-height: 40px;
    vertical-align: top;
}

.least-content{font-size: 11px;}

.btn.view_more,.btn.view_more:active, .btn.view_more:hover {background: #03A9F4 !important; color: #fff !important}
.navbar-brand>img {
    margin-top: -5px;
    display: block;
    width: 40px;
}
 