<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Sync Schema.yml - Database </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <p>
        <a href="<?=url_for('schema/cc')?>">Clear Cache File</a>  | 
        <a href="<?=url_for('schema/sync')?>">Sync</a>  | 
        <a href="<?=url_for('schema/build_model')?>">Build Model</a>  | 
        </p>
        <hr>
            credentials: { name: Credentials, type: admin_check_list, params: through_class=UserCredential peer_method=doSelectCredentials }
            <Br/>
            <br/>
            item_status_id: { type: INTEGER, foreignTable: item_status, foreignReference: id }
            <br/>
            <br/>
            img: { help: "size: 706x398", type: admin_input_file_tag, upload_dir: main_slide, params: include_link=company include_remove=true}
            <br/>
            <br/>
            php symfony propel:build-forms
        <hr/>
        {% for tbl in schema%}
        <p><div style="width: 200px; float: left"> <?=tbl?></div> | init-admin <a target="_<?=tbl?>" href="<?=url_for('schema/init_admin')?>?tbl=<?=tbl?>"> <?=tbl?></a></p>
        {% endfor %}
    </body>
</html>
