<?=get_partial('abstract/js_functions')|raw?>

<script>
            
    
    var Utils;
    var version = "1.0<?=config('version')?>";
    var mrHero;
    var cache = false;
    
    include_css([
        "pace.css", 
        "hero.css"
        ]); 
        
    include_js([

        "pace.min.js"
        ]);
    
</script>

<script src="/js/angular.min.js"></script>
<script src="/js/me-lazyload.js"></script>  
<script >
    {% include '_js_angular.html' %} 

     var itv = setInterval(function() {
        //load jquery success
        if(typeof jQuery != 'undefined') {
            

            if(typeof $.loadTotalStorage == 'undefined') { 
                $.loadTotalStorage = 1;
                include_js( ["/js/TotalStorage.js"] );

            }
            
            //load totalStorage success
            if(typeof $.totalStorage != 'undefined') {
                

                clearInterval(itv);

                //cache javascript
                if(version != $.totalStorage('version')) {
                    $.totalStorage('version', version);
                }
                else {
                    cache = true;
                }
                
                //load plugins
                {% include '_js_jquery_plugins.html' %} 
                
                //load other js
                $.when (
         
                    $.loadJs("underscore.min.js"),
                    $.loadJs("class.min.js")
                )
                .then(function() {
                     
                    //document ready
                    $(document).ready(function() {
                        {% include '_js_jquery_ready.html' %} 
                    });
                     
                });  
            }
        } 
     }, 100); 
</script>