
{% extends "blank_layout.html" %}

{% block body %}
    <?=block('js')|raw?>
{% endblock %}

{% block temp %}
    <script>
        {% block js %}
         
        //START
        var ClassUtils = new Class({
            scrollTo: function(element) { 
                if(element.size() > 0) {
                    $('html, body').animate({scrollTop: element.eq(0).offset().top-50}, 500);
                }
            },
            exception: function(msg) {
                 throw new Error(msg);
            },
            
            alert: function(msg, title, callback) {

                html =  '<div id="dynamicModalWindow" class="modal fade in" style="display:none;">';
                html +=  '<div class="modal-dialog">';
                html +=  '<div class="modal-content">';

                html +=  '        <div class="modal-header">';
                html +=  '            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>';
                html +=  '             <h4 class="modal-title">'+(title?title:'Alert')+'</h4>';

                html +=  '        </div>';
                html +=  '        <div class="modal-body"><div class="te">'+msg+'</div></div>';
                         
                html +=  '    </div>';
                     
                html +=  '</div>';
                html +=  '</div>'; 
                var prId = 'wrap_';
                $("#dynamicModalWindow").remove();
                $('body').append(html);
                $("#dynamicModalWindow").modal('show', {backdrop: 'static'});
            },
            
            ajaxPost: function(url, data, callback, dataType) {
                //neu ko pass thi dataType la: html
                if(!dataType) {
                    dataType = 'json';
                }
                $.ajax({ type: "POST", url: url, dataType: dataType, data: {data: data}, success: function(res) {
                    if(callback) {
                        callback(res);
                    }
                }});
            },
            
            ajaxGet: function(url, data, callback, dataType) {
                //neu ko pass thi dataType la: html
                if(!dataType) {
                    dataType = 'json';
                }
                $.ajax({ type: "GET", url: url, dataType: dataType, data: {data: data}, success: function(res) {
                    if(callback) {
                        callback(res);
                    }
                }});
            },
            formatVnd: function(number) {
                return Utils.numberFormat(number, 0, 0, '.')+'đ';
            },
            numberFormat: function(number, decimals, dec_point, thousands_sep) { 

                number = (number + '')
                  .replace(/[^0-9+\-Ee.]/g, '');
                var n = !isFinite(+number) ? 0 : +number,
                  prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                  sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                  dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                  s = '',
                  toFixedFix = function(n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + (Math.round(n * k) / k)
                      .toFixed(prec);
                  };
                // Fix for IE parseFloat(0.55).toFixed(0) = 0;
                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n))
                  .split('.');
                if (s[0].length > 3) {
                  s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }
                if ((s[1] || '')
                  .length < prec) {
                  s[1] = s[1] || '';
                  s[1] += new Array(prec - s[1].length + 1)
                    .join('0');
                }
                return s.join(dec);
            },
            getRandomInt: function(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            },
            tip: function(obj, content, title) {
                
                obj.qtip({
                    content: {text: content, title: title},
                    position: {
                        my: 'bottom center',
                        at: 'top center',
                    }
                });
            } 
        });
        
        Utils = new ClassUtils();
        // Animal.extend({
        //     die: function () {
        //         alert(this.name + ' died at age ' + this.age);
        //     }
        // });

        // var cat = new Animal('Sora', 4);
        // //at.die(); // alerts "Sora died at age 4"
 
        {% endblock %}
    </script>
{% endblock %}