{% extends "blank_layout.html" %}
{% block body %}
    <?=block('js')|raw?>
{% endblock %}

{% block temp %}

    <script>
        {{minify()}}

        {% block js %}
        
            mrHero = angular.module('mrHero', ['me-lazyload']);

            mrHero.factory('MyConfig', function($http) {
              return {
                  item_numbers : [1, 2, 3, 4, 5],
                  getData: function($scope, url, callback) {
                        
                    $http({
                        cache: true,
                        url: url,
                        dataType: 'json'
                    })
                    .then(function(response) { 
                        if(typeof jQuery != 'undefined') {
                            $('#page_loader').fadeOut();
                        }
                        else {
                            angular.element(document).find('#page_loader').remove();
                        }
                        $scope.server_data = response.data;
                        if(callback) {
                            callback(response.data);
                        }

                        //wait for angularjs parse data to template
                        setTimeout(function() {
                            $.material.init();
                            if($('#page_loader').size() > 0) {
                                $('#page_loader').height($(document).height());
                            }
                        }, 200);
                        

                    }, 
                    function(response) { // optional
                        console.log('Server busy');
                    });
                },
                ajax: function(url, params, callback) {
                    var data = {};
                    for(var k in params) {
                        data['data['+k+']'] = params[k];
                    }
                    $http({
                        method: 'POST',
                        url: url,
                        data: data,
                        dataType: 'json'
                    })
                    .then(function(response) { 
                        callback(response.data);
                    }, 
                    function(response) { // optional
                        console.log('Server busy');
                    });
                }
              };
            });
 
            mrHero.config(function ($httpProvider) {
                $httpProvider.defaults.transformRequest = function(data) {

                    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';

                    if (data === undefined) {
                        return data;
                    }
                    
                    var str = [];
                    for(var p in data)
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(data[p]));
                    return str.join("&");
                }
            });
            


            mrHero.filter('unsafe', function($sce) { return $sce.trustAsHtml; });
            mrHero.filter('isEmpty', function () {
                var bar;
                return function (obj) {

                    for (bar in obj) {
                        if (obj.hasOwnProperty(bar)) {
                            return false;
                        }
                    }
                    return true;
                };
            });

            mrHero.directive("navigation", ['$compile',function ($compile) {

                return {
                    restrict: 'E',
                    replace: true,
                    scope: {
                        menu: '='
                    },
                    template: '<ul><li ng-repeat="item in menu">{{item.Name}}<span ng-if="item.Children.length > 0"><navigation menu="item.Children"></navigation></span></li></ul>',
                    compile: function (el) {
                        var contents = el.contents().remove();
                        return function(scope,el){
                            $compile(contents)(scope,function(clone){
                                el.append(clone);
                            });
                        };
                    }
                };

            }]);
        {% endblock %}
        {{end_minify()}}
    </script>
{% endblock%}