{% set domain = 'http://'~config('SITE_DOMAIN') %}
 
{% set item = my_route.slug ? my_route.slug : my_route.id %}

{% set seoTitle = sf_user.isEn ? item.getSeoEnTitle : item.getSeoTitle %}
{% set seoDesc = sf_user.isEn ? item.getSeoEnDescription : item.getSeoDescription %}

{% if not item %}
	{% set item = my_route.route %}
	{% set seoTitle = item.getSeoTitle %}
	{% set seoDesc = item.getSeoDescription %}
{% endif %}

<title>{% block title %}<?=seoTitle?>{% endblock %}</title>
<meta name="title" content="<?=block('title')?>"/>
<meta name="description" content="{% block description %}<?=seoDesc?>{% endblock %}" />
<meta property="og:site_name" content="<?=block('title')?>"/>
<meta property="og:title" content="<?=block('title')?>"/>
<meta property="og:url" content="<?=sf_request.getUri?>"/>
<meta  property="og:description"  content="<?=block('description')?>"/>
<meta property="og:image" content="<?=item.getSeoOgImage?(domain~item.getSeoOgImage):ogImage?>"/>